<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <label v-for="item in fruits" :for="item">
      <input type="checkbox" :value="item" :id="item" v-model="arr">{{item}}
    </label>
    <h2>宁选择了 {{arr}}</h2>
  </div>

  <script src="./js/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        fruits:["香蕉","山楂","青枣"],
        arr:[],
      }
    })
  </script>
</body>

</html>